{% extends "base.html" %}
{% block content %}
<title>
  {% block title %}Последние обновления на сайте{% endblock %}
</title>
<h1>Это главная страница проекта SALATIK</h1>
<hr>

{% load cache %}
{% cache 20 index_page request.user.username %}

{% for ingredient_type, ingredients in ingredient_dict.items %}
    <h2>{{ ingredient_type.name }}</h2>
    <ul>
        {% for ingredient in ingredients %}
            <li>{{ ingredient.name }} - {{ ingredient.price_per_unit }}</li>
        {% endfor %}
    </ul>
{% endfor %}

{% endcache %}     
{% endblock %}
