{% extends "base.html" %}
{% block title %}SALATIK - закажи салат!{% endblock %}
{% block offer %}
{% load static %}

{% load cache %}
{% cache 20 index_page request.user.username %}

<style>
  .add-to-cart-button,
  .remove-from-cart-button {
    cursor: pointer;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const addToCartButtons = document.querySelectorAll('.add-to-cart-button');
    const shoppingList = [];

    const handleAddToCart = (ingredient) => {
      if (!shoppingList.includes(ingredient)) {
        shoppingList.push(ingredient);
        renderShoppingList();
      }
    };

    const handleRemoveFromCart = (ingredient) => {
      const index = shoppingList.indexOf(ingredient);
      if (index > -1) {
        shoppingList.splice(index, 1);
        renderShoppingList();
      }
    };

    const renderShoppingList = () => {
      const shoppingListContainer = document.querySelector('#shopping-list');
      const shoppingListHTML = shoppingList.map((ingredient) => `
        <li>${ingredient}<span class="remove-from-cart-button" data-ingredient="${ingredient}">убрать</span></li>
      `).join('');
      shoppingListContainer.innerHTML = shoppingListHTML;

      const removeButtons = document.querySelectorAll('.remove-from-cart-button');
      removeButtons.forEach((button) => {
        button.addEventListener('click', () => {
          const ingredient = button.dataset.ingredient;
          handleRemoveFromCart(ingredient);
        });
      });
    };

    addToCartButtons.forEach((button) => {
      button.addEventListener('click', () => {
        const ingredient = button.dataset.ingredient;
        handleAddToCart(ingredient);
      });
    });
  });
</script>

<section id="testimonial">
  <div class="container">
    {% for ingredient_type, ingredients in ingredient_dict.items %}
      <div class="row h-100">
        <div class="col-lg-7 mx-auto text-center mb-6">
          <h5 class="fw-bold fs-3 fs-lg-5 lh-sm mb-3">{{ ingredient_type.name }}</h5>
        </div>
      </div>
     
      <div class="row gx-2">
        {% for ingredient in ingredients %}
        <div class="col-sm-6 col-md-4 col-lg-3 h-100 mb-5">
          <div class="card card-span h-100 text-white rounded-3">
            <img class="img-fluid rounded-3 h-100" src="{% static 'assets/img/gallery/food-world.png' %}" alt="..." />
            <div class="card-img-overlay ps-0">
              <span class="badge bg-danger p-2 ms-3">
                <i class="fas fa-tag me-2 fs-0"></i>
                <span class="fs-0">{{ ingredient.price_per_unit }} ₽</span>
              </span>
              <span class="badge bg-primary ms-2 me-1 p-2 add-to-cart-button" data-ingredient="{{ ingredient.name }}">
                <i class="fas fa-clock me-1 fs-0"></i>
                <span class="fs-0">Добавить</span>
              </span>
            </div>
            <div class="card-body ps-0">
              <div class="d-flex align-items-center mb-3">
                <img class="img-fluid" src="{% static 'assets/img/gallery/food-world-logo.png' %}" alt="" />
                <div class="flex-1 ms-3">
                  <h5 class="mb-0 fw-bold text-1000">{{ ingredient.name }}</h5>
                  <span class="text-primary fs--1 me-1">
                    <i class="fas fa-star"></i>
                  </span>
                  <span class="mb-0 text-primary">{{ ingredient_type.name }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</section>

<h1>Список покупок</h1>
<ul id="shopping-list"></ul>


{% endcache %}     
{% endblock %}
